@import "tailwindcss";

html {
  overflow-y: scroll;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dashboard-secondary: #185b48;
  --dashboard-primary-color: #246c5a;
  --dashboard-primary-text: #0f392d;
  --dashboard-sidebar: #262063;
  --dashboard-sidebar-active: #185b48;
  --dashboard-sidebar-hover: #0e5b46;
  --dashboard-topbar: #ffffff;
  --dashboard-topbar-profile: #1e8269;
  --dashboard-topbar-text: #246c5a;
  --dashboard-border-primary: #246c5a;
  --dashboard-topbar-hover: #268f75;
  --dashboard-topbar-profile-hover: #167059;
  --dashboard-button-primary: #0f392d;
  --dashboard-button-hover: #0e5b46;
  --dashboard-primary: #0f2d49;
  --ring-dashboard-button-primary: #0f392d;
  --ring-dashboard-button-hover: #0e5b46;
  --ring-dashboard-button-text: #ffffff;
  --ring-dashboard-button-text-hover: #ffffff;
  --bg-icon-color: #053529;
  --text-icon-color: #3ceddb;
}

@theme inline {
  /* --color-background: var(--background); */
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, Inter, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@theme {
  --color-dashboard-sidebar: var(--dashboard-sidebar);
  --color-dashboard-sidebar-active: var(--dashboard-sidebar-active);
  --color-dashboard-sidebar-hover: var(--dashboard-sidebar-hover);
  --color-dashboard-topbar: var(--dashboard-topbar);
  --color-dashboard-border-primary: var(--dashboard-border-primary);
  --color-dashboard-topbar-hover: var(--dashboard-topbar-hover);
  --color-dashboard-topbar-profile: var(--dashboard-topbar-profile);
  --color-dashboard-topbar-profile-hover: var(--dashboard-topbar-profile-hover);
  --color-dashboard-button-primary: var(--dashboard-button-primary);
  --color-dashboard-button-hover: var(--dashboard-button-hover);
  --color-dashboard-primary: var(--dashboard-primary);
  --color-ring-dashboard-button-primary: var(--ring-dashboard-button-primary);
  --color-ring-dashboard-button-hover: var(--ring-dashboard-button-hover);
  --color-ring-dashboard-button-text: var(--ring-dashboard-button-text);
  --color-ring-dashboard-button-text-hover: var(
    --ring-dashboard-button-text-hover
  );
  --color-dashboard-primary-color: var(--dashboard-primary-color);
  --color-dashboard-secondary: var(--dashboard-secondary);
  --color-bg-icon-color: var(--bg-icon-color);
  --color-text-icon-color: var(--text-icon-color);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-in-out;
}
