.sliderContainer {
  position: relative;
  width: 100%;
  padding: 1rem;
  // overflow: hidden;
  border-radius: 16px;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

.slideWrapper {
  border-radius: 16px;
}

.slideContent {
  position: relative;
  width: 100%;
  // overflow: hidden;
}

.imageContainer {
  margin: 2rem 0;
  width: 100%;
  height: 50vh;
  border-radius: 16px;

  @media (max-width: 992px) {
    height: 50vh;
  }
}

.slideImage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
  transition: transform 0.5s ease;
  border-radius: 16px;


  .splidePagination {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .splidePage {
    border-radius: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;

    &.isActive {
      background: #0070f3;
      opacity: 1;
      transform: scale(1.2);
    }
  }

  .splide__slide {
    animation: fadeIn 0.5s ease-in-out;
  }
}