:root {
  --header-title: #0e3332;
  --header-size-medium: 2rem;
}

.pengurusContainer {
  color: var(--header-title);
  margin: 2rem;
  padding: 2rem 0;

  .pengurusHeader {
    font-size: var(--header-size-medium);
    font-weight: 600;
  }

  .pengurusContent {
    // margin: 2rem;
  }
}
